<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger of the Day!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerButtons.js"></script>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>