<li>
	{{burger_name}}

	{{#if notEat}}
	<button class="change-eaten" data-id="{{id}}" data-devoured="{{notEat}}">
		Eat the Burger!
	</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
